<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
   
    
    <ul class="navbar-nav">
      <li class="nav-item">
          <!--a routerLink="employees" class="nav-link" routerLinkActive="active">Employee List</a-->
          <a href="pmanager" class="nav-link" routerLinkActive="active">Place Order</a>
      </li>
      <li class="nav-item">
          <!--a routerLink="edit/:id" class="nav-link" routerLinkActive="active">Edit Product</a-->
      </li>
      <li class="nav-item">
        <a href="plist" class="nav-link" routerLinkActive="active">Purchase List</a>
    </li>
    <li class="nav-item">
      <a href="login" class="nav-link" routerLinkActive="active">LogOut</a>
  </li>
    </ul>
  </nav>
  <img src="assets/purchase.jpg" class="card-img-top" alt="...">
